<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<title>K</title>
		<meta charset="utf-8">
		<title></title>
	<!--	<link rel="stylesheet" href="style.css">-->
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
	</head>
	<body>
		<br>
	<div class="ascii-art">+----------------------------------------+
|                                        |
|               <i>based on</i>                 |
|                                        |
|               K project                |
|          Quick_dl_E Reworked           |
|                                        |
|              Testing Kit               |
|                                        |
+----------------------------------------+</div>
	<br><br>
		<h1 class="K_header">

		</h1>
		<form class="form" method="POST">
			<label class="playlist_switch">
				Playlist
				<input type="checkbox" name="playlist">
			</label>
			<input class="textbox" type="text" name="url" id="url" size="90" placeholder="URL">
			<select class="opzioni" name="method" id="method", method="POST">

				 <option value="mp3">mp3</option>
					 <option value="mp4">mp4</option>
				 <option value="album">album</option>
				 <option value="cover">cover</option>
				 <option value="thumbnail">thumbnail</option>

			</select>
			<input type="submit" class="send_button" value="Start">
		</form>
		<br><br>


		{% if valid %}

			<div style="text-align: center">
			<a href="{{ url_for('download') }}" class="download_link">Download</a>
		</div>
		{% endif %}
		{% if error %}
			 <p class="error_1">something went wrong, pls retry</p>
		{% endif %}


		<br><br>
			<button onclick="location.href = '{{ url_for('reset') }}'" class="reset_button">reset</button>
		</body>
</html>
